.form-item {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;

    &:hover {
        button.clear {
            background-color: var(--color-primary);
            color: white;
        }
    }

    button.clear {
        position: absolute;
        right: 22px;
        bottom: 9px;
        padding: 0 2px;
        background-color: var(--light-med-bg);
        color: var(--text-light-color);
        line-height: 20px;
        width: 20px;
    }

    &.select-text {
        select {
            float: none;
        }

        input[type=text] {
            display: none;
        }

        &.custom {
            select {
                width: 20%;
                margin-right: 5px;
                float: left;
            }

            input[type=text] {
                display: block;
                width: calc(80% - 27px);
            }
        }
    }

    &.name {
        &.custom {
            input[type=text] {
                width: calc(80% - 70px);
            }
        }
    }

    &.help {
        label {
        }

        button {
            opacity: 1;

            svg {
                path {
                    &:nth-child(1) {
                        stroke: var(--color-primary);
                        fill: var(--color-primary);
                    }
                }
            }
        }
    }

    &.switch {
        min-height: 55px;

        label {
            position: absolute;
            left: 50px;
            top: 20px;
        }

        input[type=checkbox] {
            transform: translateY(0px);
        }
    }

    &.rows {
        &:hover {
            button.clear {
                background-color: var(--light-med-bg);
            }
        }

        .multi-row {
            .row {
                position: relative;
                margin-bottom: 5px;

                button.clear {
                    bottom: 9px;
                    right: 10px;
                }

                &:hover {
                    button {
                        background-color: var(--color-primary);
                    }
                }
            }
        }

        .permissions {
            .row {
                display: flex;

                select {
                    flex: 1;
                }

                input {
                    flex: 3;
                    width: 100%;
                }

                button.clear {
                    right: 5px;
                }

                &:hover {
                    button {
                        background-color: var(--color-primary);
                    }
                }
            }
        }
    }

    .checkboxes {
        width: 100%;

        .box {
            display: inline-block;
            overflow: hidden;
            padding: 5px 0;
            margin-right: 20px;

            label {
                margin: 0;
                display: inline-block;
            }

            input {
                display: inline-block;
                margin: 0 50px 3px 0;
            }
        }
    }


}

.tooltip {
    position: absolute;
    max-width: calc(100% - 50px);
    min-width: 200px;
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    border-radius: 6px;
    z-index: 1000;
    font-size: 12px;
    line-height: 16px;
    left: 0;
    top: 16px;
}