body {
    background-color: #333;
    color: #ddd;
    font-family: system-ui;
}

video {
    position: absolute;
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    overflow: hidden;
    border: none;

    &:nth-of-type(1) {
        top: 0;
        left: 0;
    }

    &:nth-of-type(2) {
        top: 0;
        right: 0;
    }

    &:nth-of-type(3) {
        bottom: 0;
        left: 0;
    }

    &:nth-of-type(4) {
        bottom: 0;
        right: 0;
    }
}