@import './variables.css';
@import './form.css';

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--page-bg);
    color: var(--text-color);
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

video {
    position: absolute;
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    overflow: hidden;
    border: none;

    &:nth-of-type(1) {
        top: 0;
        left: 0;
    }

    &:nth-of-type(2) {
        top: 0;
        right: 0;
    }

    &:nth-of-type(3) {
        bottom: 0;
        left: 0;
    }

    &:nth-of-type(4) {
        bottom: 0;
        right: 0;
    }
}

.tab-navigation {
    position: absolute;
    top: 20px;
    left: 100px;

    button {
        margin-right: 10px;
        background-color: var(--light-med-bg);
        font-size: 16px;
        padding: 10px 30px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;

        &:hover {
            background-color: var(--color-secondary);
        }

        &.active {
            background-color: var(--color-primary);
        }

        svg {
            display: block;
            margin: auto;
        }
    }
}

.tab {
    margin: 120px 100px 100px 100px;

    .item {
        width: 20%;
        display: inline-block;
        position: relative;
        height: 60px;
        overflow: hidden;
        border-bottom: 1px dashed var(--light-border-color);

        button.clear {
            position: absolute;
            right: 52px;
            top: 27px;
            padding: 0 2px;
            background-color: var(--light-med-bg);
            color: var(--text-light-color);
        }

        &:hover {
            button.clear {
                background-color: var(--color-primary);
                color: white;
            }
        }

        &.switch {
            label {
                position: absolute;
                left: 50px;
                top: 22px;
            }

            input[type=checkbox] {
                transform: translateY(0px);
            }
        }
    }
}
