.users {
    margin-top: 150px;

    .user {
        background-color: var(--shift-005);
        position: relative;
        width: 600px;

        border: 1px solid var(--light-border-color);
        border-radius: 5px;
        margin: 0 auto 30px auto;
        padding: 20px 30px;

        .index {
            display: block;
            position: absolute;
            left: -200px;
            top: -10px;
            font-size: 100px;
            font-weight: 900;
        }

        input {
            width: calc(100% - 20px);
        }

        .item {
            width: 100%;

            &.select-text {
                input[type=text] {
                    font-weight: 400;
                    font-size: 25px;
                    border: none;
                    border-bottom: 2px solid var(--light-border-color);
                }

                select {
                    font-size: 25px;
                    margin: 0;
                    position: absolute;
                    border: none;
                    border-bottom: 2px solid var(--light-border-color);
                    width: 100%;
                }

                &.custom {
                    select {
                        right: 0;
                        width: 100px;
                    }

                    input[type=text] {
                        width: calc(100% - 125px);
                    }
                }
            }
        }
    }

    button {
        overflow: hidden;

        &.add {
            margin: auto;
            display: block;
            padding-left: 45px;
            position: relative;

            svg {
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 0;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 3px;
            }


        }

        &.delete {
            position: absolute;
            left: -200px;
            top: 150px;
            background-color: var(--color-primary-conter);
            padding-left: 45px;

            svg {
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 0;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 3px;
            }
        }
    }

}