:root {
    --text-color: #333;
    --text-light-color: #666;
    --color-primary: #208d6d;
    --color-secondary: #106048;
    --color-warning: #8d311c;
    --font-family: system-ui, sans-serif;
    --page-bg: white;
    --light-border-color: #ddd;
    --light-bg: #f0f0f0;
    --light-med-bg: #eee;
}

:root[data-theme="dark"] {
    --text-color: #ddd;
    --text-light-color: #999;
    --page-bg: #333;
    --light-border-color: #555;
    --light-bg: #444;
    --light-med-bg: #222;
}