:root {
    --text-color: #333;
    --text-light-color: #666;
    --color-primary: #1a65b7;
    --color-secondary: #1d538d;
    --color-primary-conter: #8d311c;
    --color-secondary-conter: #4f1306;

    --color-warning: #8d311c;
    --font-family: Lexend Deca, sans-serif;
    --page-bg: white;
    --light-border-color: #ddd;
    --light-bg: #f0f0f0;
    --light-med-bg: #eee;

    --shift-005: rgba(0, 0, 0, 0.05);
    --shift-01: rgba(0, 0, 0, 0.1);
    --shift-02: rgba(0, 0, 0, 0.2);

    --space-s: 5px;
    --space-m: 10px;
    --space-l: 15px;
    --space-xl: 20px;
    --space-xxl: 30px;
}

:root[data-theme="dark"] {
    --text-color: #ddd;
    --text-light-color: #999;
    --page-bg: #333;
    --light-border-color: #555;
    --light-bg: #444;
    --light-med-bg: #222;

    --shift-005: rgba(255, 255, 255, 0.05);
    --shift-01: rgba(255, 255, 255, 0.1);
    --shift-02: rgba(255, 255, 255, 0.2);
}